#register {
	position: relative;
	margin: 2em 2em 0em 2em;
	height: 160px;
	background-color: #eee;
  @extend %rounded-border;
  display: none;

  h2 {
  	position: absolute;
  	left: 10px;
  	top: 10px;
  }

  form {
  	position: absolute;
  	left: 10px;
  	bottom: 10px;

  	input {
  		position: relative;
  		bottom: 7px;
  	}

  }
}