#register {
	position: relative;
	margin: 2em 2em 0em 2em;
	height: 160px;
  background-color: #eee;
  border-style: solid;
  border-width: 1px;
  border-color: #696969;
  border-radius: 5px;
  display: none;
}